/* basic styling for entire page */
body {
    background-color: #E0F7FA;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
}

.calculator-container {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 15px;

    max-width: 800px;
    width: 90%;

    margin: 50px auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    gap: 30px;
}

.input-section,
.output-section {
    flex: 1;
}

/* input section  */
.input-section {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0px 16px 0px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ffffff;
    box-sizing: border-box;
}

/* label styling */
label,
.form-control>p {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    color: #4B5A6A;
    margin-bottom: 6px;
}

.tip-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}


/*  percentage buttons */
.tip-percent-btn {
    width: 100%;
    padding: 10px;
    background-color: #00474B;
    color: #ffffff;
    border: none;
    border-radius: 10px;

    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tip-percent-btn:hover {
    background-color: #26C2AD;
    color: #00474B;
}

.tip-percent-btn.active {
    background-color: #9FE8DF;
    color: #00474B;
}

/* output section */
.output-section {
    background-color: #00474B;
    padding: 30px 25px;
    border-radius: 8px;
    /* margin-top: 30px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.result-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .output-section .result-line:last-of-type {
    /* margin-bottom: 30px;

} */

.result-label p {
    color: #FFFFFF;
    font-size: 0.9rem;
    margin: 0;
    font-weight: 600;
}

.result-label span {
    color: #7FA8A9;
    font-size: 0.8rem;
    display: block;
}

.result-value span {
    color: #26C2AD;
    font-size: 2.4rem;
    font-weight: 700;
    display: block;
    text-align: right;
}

/* reset btn */
.reset-button {
    width: 100%;
    padding: 12px;

    background-color: #26C2AD;
    color: #00474B;
    border: none;
    border-radius: 23px;

    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #9FE8DF;
    color: #00474B;
}

.reset-button :active {
    background-color: #00474B;
    color: #9FE8DF;
}

/* ================================
RESPONSIVE PAGE
================================ */
@media screen and (max-width: 600px) {
    .calculator-container {
        flex-direction: column;
        padding: 20px;
    }

    .input-section,
    .output-section {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .output-section {
        margin-bottom: 0;
    }

    label {
        font-size: 0.875rem;
        margin-bottom: 6px;
    }

    input[type="number"]#bill,
    input[type="number"]#custom-tip,
    input[type="number"]#num-people {
        font-size: 1rem;
        padding: 10px 12px;
    }
    .tip-percent-btn{
        font-size: 0.9rem;
    }
}